<article class="listing">
  <h3>Título</h3>
  {{input class="form-control" value=model.title}}
  <div class="form-group">
    <label for="content">Contenido</label>
    {{textarea class="form-control" rows="5" value=model.body}}
  </div>
  <button {{action 'savePost' model}} class="btn btn-success">Guardar</button>
  <button {{action 'deletePost' model.id}} class="btn btn-danger">Eliminar</button>
  <button {{action 'refreshPost' model.id}} class="btn btn-info">Restablecer</button>
  {{#link-to 'list' class="btn btn-warning"}}Ver lista {{/link-to}}
</article>
{{outlet}}